
body{
    margin: 10%;
    padding: 0px;
    background-color: #eee;
}


::selection { background-color:#f04530;color:#fff;}
::-moz-selection { background-color:#f04530;color:#fff;}
::-webkit-selection { background-color:#f04530;color:#fff;}

#info{
    margin: 1% auto;
}

/*table{
    border: 2px solid silver;
}

td{
    border: 2px solid silver;
    padding: 5px 15px;

}*/