
body{
    margin: 10%;
    padding: 0px;
    background-color: #eee;
}

#info{
    margin: 1% auto;
}

table{
    border: 2px solid silver;
}

td{
    border: 2px solid silver;
    padding: 5px 15px;

}